<div id="content">
  <% lines.each do |line| %>
    <% if line != lines.last || @tale.awaiting_new_line? %>
      <p> <%= line.content %> </p>
      (<b>Written By:</b> <%= line.user.html_link_to_user %>)
    <% end %>
  <% end %>
</div>