<% tales.each do |tale| %>
  <h1><%= link_to tale.title, tale %></h1>
  <div class="index-text">
    <div class="index-gradient"></div>
    <span id="outerspan"> <%= tale.display_last_line %> <span id="newline" data-tale-id="<%= tale.id %>"></span></span>
  </div>
<% end %>
