

<h2> Open Tales </h2>
<ul>
<% Tale.open_tales.each do |tale| %>
  <li><%= link_to tale.prompt, tale %></li>
<% end %>
</ul>
<hr>

<h2> Closed Tales </h2>
<ul>
<% Tale.closed_tales.each do |tale| %>
  <li><%= link_to tale.prompt, tale %></li>
<% end %>
</ul>
<hr>
<%= button_to "Feeling spontaneous?", @random_tale, class: "btn", method: "get" %>

