<style>
  #tale{
    width: 100%;
    height: auto;
  }
  .line {
    width:100%;
    background-color: lightgrey;
    min-height: 1em;
  }
</style>

<% if @tale.is_current_line_user?(@current_user) %>
  <script>
    $(function(){
      $('#newline').on("keyup", function(){
        var content = $(this).text();
        $.ajax({
          method: "POST",
          url: "/updateline",
          data: {id: "<%= @current_user.id %>", content: content}
        });
      });
    });
  </script>
<% end %>

<script>
  $(function(){
    $("#participate_btn").on("click", function(e){
      $.ajax({
        method: "POST",
        url: "/createline",
        data: {id: "<%= @current_user.id %>", tale: "<%= @tale.id %>"}
      })
    });
  })
</script>

<div id="tale">
  <div class="line">
    Google docs, dean edition
  </div>



  <div class="line" id="newline" <% if @tale.is_current_line_user?(@current_user) %> contenteditable="true" <% end %> >
  </div>
</div>
<% if @tale.awaiting_new_line? %>
  <button id="participate_btn">Participate in this Story</button>
<% end %>