<style>
  #tale{
    width: 100%;
    height: auto;
  }
  .line {
    width:100%;
    background-color: lightgrey;
    min-height: 1em;
  }
</style>
<div id="tale">
  <div class="line">
    Google docs, dean edition
  </div>
  <div class="line" id="newline" contenteditable="true">
  </div>
</div>