<h1><%= @user.username %> <small>since <%= user.formatted_join_date %></small></h1>
<% if @user.my_profile(@current_user) %>
  <h5 class="edit"><%= link_to "Edit profile", edit_user_path(@user) %></h5>  
<% end %>