<div class="menu-header">
  <% if owner %>
    <% if user.my_profile(current_user) %>
      <h3><span class="reveal-state"><i class="fa fa-plus" aria-hidden="true"></i></span> Tales I Own</h3>
    <% else %>
      <h3><span class="reveal-state"><i class="fa fa-plus" aria-hidden="true"></i></span><%= user.username %>'s Tales</h3>
    <% end %>
    <span class="count"><%= user.tales_owned.count %> entries</span>
  <% else %>
    <% if user.my_profile(@current_user) %>
      <h3><span class="reveal-state"><i class="fa fa-plus" aria-hidden="true"></i></span> Tales I've Contributed To</h3>
    <% else %>
      <h3><span class="reveal-state"><i class="fa fa-plus" aria-hidden="true"></i></span><%= user.username %>'s Contributions</h3>
    <% end %>
    <span class="count"><%= user.tales_contributed.count %> entries</span>
  <% end %>
</div>