<% unless owned_by_user %>
<b>Started By:</b> <%= link_to tale.owner_name, tale.owner %>
<% end %>
<b>Prompt:</b> <p> <%= tale.prompt %></p>

<b>First Line:</b> <p><%= tale.lines.first.content %></p>
<%= link_to 'View More', tale %>
<br><br>