<div class="tags show">
<div id="title" style="display: block;">
  <h4>
    <span class="title">Tagged with </span>
    <span class="title"><%= @tag.name %></a></span>
  </h4>
</div>

<div id="index-tales">
  <%= render partial: "tales/display_tales", locals: {tales: @tales} %>
</div>

<div id="tag-nav">
  <ul>
    <% Tag.all.each do |tag| %>
      <li>
      <small><%= link_to "##{tag.name} (#{tag.tales.count})", tag_path(tag.name) %></small>
      </li>
    <% end %>
    </ul>
  </div>
</div>