/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@import "font-awesome-sprockets";
@import "font-awesome";*/
/*@import "tales";*/

 /* LAYOUTS */
body {
  margin: 0;
  position: relative;
  min-height: 98vh;
 }

main {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;
 }


.index-gradient{
  background: rgba(0,0,0,0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/  width:10%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.index-text {
  height:100%;
  overflow-x:hidden;
  white-space:nowrap;
  position: relative;
}

.index-text span {
  display: inline-block;
}

#outerspan {
  float:right;
}

div#newline {
  width:100%;
  background-color: rgba(250, 255, 189, 1);
  padding-right: 0;
  margin-right: 0;
  margin-bottom: .5em;
  min-height: 2em;
  display:block;
  word-wrap: break-word;
  border-bottom: 1px solid;
}

#content {
  padding: 0.5em 2em;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}

footer small {
  border-top: 1px solid #eee;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* FONTS */
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
 }

a {
  color: #222;
}

a:hover, a:active,
.reveal .menu-header:hover {
  background-color: rgba(250, 255, 189, 1);
}

h1, h2, h3 {
  font-weight: 400;
}

#divider {
  height: 1px;
  margin-top: .75em;
  margin-bottom: 3em;
  background-color: #ccc;
  width: 4em;
}

/* NAVBAR */

header {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 101;
  }

#brand {
  display: inline-block;
  font-size: x-large;
  }

nav {
  float: right;
  }

nav a {
  text-decoration: none;
  font-size: medium;
  margin-left: 1em;
  line-height: 1.75em;
}

/* FORMS */
#flash_messages {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  text-align: center;
}
form {
  width: 100%;
}

form input,
form textarea {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 2%;
  font-size: 100%;
}

#sign-in {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form label {
  min-width: 30%;
}
form fieldset input,
form fieldset textarea {
  min-width: 66%;
  display: inline-block;
  float: right;
  margin: .5em 0;
}

form fieldset {
  position: relative;
}

form .btn {
  width: 100%;
  margin-top: .5em;
}

.buttons .btn {
  width: 100%;
  font-size: large;
  padding: .5em;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 3em;
}

#sign-in .signup-copy {
  margin-top: 3em;
  text-align: center;
}

fieldset, textarea {
  border: none;
  padding: .5em 0;
  margin: .5em 0;
}

fieldset input, fieldset textarea {
  background-color: rgba(250, 255, 189, 1);
}

/* REVEAL SLIDERS */

.reveal .menu-header {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  align-items: center;
  padding: 0 .5em;
}
.reveal .menu-header.active {
  background-color: rgba(250, 255, 189, 1);
  border-bottom: 1px solid;
}

.reveal .items {
  padding: 0 .5em;
}

.reveal .reveal-state {
    font-weight: normal;
    margin-right: .25em;
}
.reveal .reveal-state i {
  font-size: small;
  vertical-align: middle;
}
.active .reveal-state {

}
/* TAG NAVIGATION */
#tag-nav {
  position: absolute;
  left: 0;
  top: 5em;
}

#tag-nav ul {
  list-style: none;
  line-height: 1.65em;
}

#title {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

#title h4 {
  width: 100%;
    margin: 0em auto;
    background-color: rgba(255,255,255,.65);
     z-index: 200; 
    padding-top: 1em;
    padding-bottom: 1em;
}


@media screen and (max-width: 850px) {
  header {
    background-color: rgba(255,255,255,.85)
  }
  #tag-nav {
    position: relative;
    padding-bottom: 4em;
  }
  #tag-nav ul {
    padding-left: 0;
  }
  #tag-nav li {
    display: inline-block;
    padding: .25em; 
  }

  .tale.show #title {
    visibility: hidden;
  }
  .tale.show .line .author {
    top: -1em;
    right: 0;
    left: inherit;
  }
  .tale.show .line h3 {
    padding-top: 1em;
  }
  .tale.show .line {
    padding-right: 0;
    margin-right: 0;
    position: relative;
  }
  .tale .meta {
    flex-wrap: wrap;
    margin-top: 1em;
  }
  .tale .meta h5 {
    margin-top: 0;
  }

}
