.tale .title h1 {
  display: inherit;
  font-weight: 600;
  padding-right: .5em;
}

.tale h2.prompt {
  font-weight: 400;
  display: inherit;
}

.tale .meta {
    display: flex;
    justify-content: space-between;
}

.tale .meta small {
  font-weight: 400;
}

.tale .foot {
    display: flex;
    justify-content: space-between;
}

.tale h5#tags {
    margin-top: 0;
    font-weight: 400;
    opacity: .35;
    text-align: right;
}

.tale h5#tags small {
  margin-left: .5em;
  vertical-align: super;
}

/* TALE SHOW VIEW */

.tale.show #title {
  position: fixed;
  top: 0;
  text-align: center;
  max-width: 600px;
  width: 100%;
  background-color: rgba(255,255,255,.75);
  z-index: 100;
}
.tale.show #title h4 {
  margin-top: .75em;
  background-color: #fff;
  display: inline-block;
}
.tale.show #status span {
    background-color: rgba(250, 255, 189, 1);
}

.tale.show .line {
  position: relative;
  line-height: 2em;
  margin: 1.5em 0;
  padding-right: 12em;
  margin-right: -12em;
  }  

.tale.show .line .author {
  position: absolute;
  left: 585px;
  top: 0;
  display: none;
  }
.tale.show .line.active .author {
  display: block;
 } 

.exceededlimit {
  background-color: rgba(0, 82, 79, .75);]\ 
}
/* TALE TEASER VIEW */

.tale.teaser .title {
  margin-top: 3em;
}

.tale.teaser .title a {
  text-decoration: none;
}

#character-count {
  font-size: small;
  font-style: italic;
  height: 2em;
  text-align: right;
}